# Bot essentials
DISCORD_BOT_TOKEN=
DISCORD_APP_CLIENT_ID=
DISCORD_APP_SECRET=

# Development guild
DISCORD_GUILD_ID= # Development guild, private commands will be registered here

# Patreon role
DISCORD_PATREON_ROLE_ID=